$x-sm-px: 1px;
$sm-px: 2px;
$md-px: 5px;
$x-bg-px: 10px;
$bg-px: 15px;

$x-sm: 1rem;
$sm: 1.5rem;
$md: 2rem;
$x-bg: 3rem;
$bg: 4rem;
$lg: 5rem;
$x-lg: 10rem;
$xxx-lg: 39rem;

$light: 200;
$bold: 700;
